<mat-card>
    <mat-card-content>
      <form [formGroup]="resetform" (ngSubmit)="submission()">
        <h2>Reset Password</h2>
<mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Password"  required>
      
      <mat-error  *ngIf="resetform.get('password')?.hasError('required')">*Required field </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmpassword" placeholder="ConfirmPassword"  required>
          
          <mat-error  *ngIf="resetform.get('password')?.hasError('required')">*Required field </mat-error>
        </mat-form-field>
        <br>
        <button type="submit"   mat-raised-button color="primary" >CHANGE PASSWORD</button>&nbsp;
        <br>
  
      </form>
    </mat-card-content>
